@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.flex-none {
  flex: none;
}

.min-calc-navmain {
  min-height: calc(100vh - 58px);
}

.line-clamp {
  --q-clamp: 2; // OPTION
  overflow: hidden;
  display: block;
  -webkit-line-clamp: var(--q-clamp);
  // display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
